.root{
    -fx-background-image: url("../imagenes/hh.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-text-alignment: center;
    -fx-alignment: center;
}



.display-fondo:hover{
    -fx-background-color: rgba(255, 255, 255, 0.69);
    -fx-text-fill: black;
}

.display-fondo{
    -fx-background-color: rgba(0, 0, 0, 0.44);
    -fx-border-color: rgba(255, 255, 255, 0.94);
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-padding: 7px 0px 7px 0px;
    -fx-font-family: sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bolder;
    -fx-margin: 0px 10px 0px 10px;
    -fx-background-radius: 15;
}

.display-fondo2{
    -fx-background-color: rgba(0, 0, 0, 0.44);
    -fx-border-color: rgba(255, 255, 255, 0.94);
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-padding: 7px 0px 7px 0px;
    -fx-font-family: sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bolder;
    -fx-margin: 0px 10px 0px 10px;
    -fx-background-radius: 15;
}

.borde_cuadro{
    -fx-border-width: 0px;
}

.borde_cuadro:hover{
    -fx-border-color: #10daec;
}

.button{
    -fx-background-color: red;
    -fx-padding: 5px 30px 5px 30px;

    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bolder;
    -fx-font-family: sans-serif;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.title_space{
    -fx-start-margin: 20px;
    -fx-padding: 10px 20px;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-border-radius: 15px;
    -fx-font-size: 40;
}

.title_space:hover{
    -fx-background-color: rgba(255, 255, 255, 0.76);
    -fx-text-fill: black;
}

#explosion_color{
    -fx-text-alignment: justify;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-font-size: 18;
    -fx-font-weight: normal;
    -fx-start-margin: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.66);
}

#explosion_color:hover{
    -fx-background-color: rgba(255, 255, 255, 0.76);
    -fx-text-fill: black;
}

.label{
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-family: "Bitstream Charter";
    -fx-font-size: 20;
    -fx-font-weight: bolder;
    -fx-alignment: center;
}


.botones-negros:hover{
    -fx-background-color: #232323;
}

.botones-rojos:hover{
    -fx-background-color: #ff5757;
}

.botones-azules:hover{
    -fx-background-color: #48a2ff;
}

.botones-negros{
    -fx-text-fill: white;
    -fx-background-color: #070000;
    -fx-font-size: 15;
    -fx-font-weight: bolder;
    -fx-font-family: sans-serif;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.botones-rojos{
    -fx-text-fill: white;
    -fx-background-color: #fa0909;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.botones-azules{
    -fx-text-fill: white;
    -fx-background-color: #0080ff;
    -fx-font-size: 15;
    -fx-font-weight: bolder;
    -fx-font-family: sans-serif;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.botones-alta{
    -fx-border-radius: 0.5;
    -fx-padding: 8px 6px 8px 6px;
    -fx-background-color: rgba(126, 84, 243, 0.77);
}
.botones-alta:hover{
    -fx-background-color: #7952ed;;
}

.botones-alta2{
    -fx-border-radius: 0px;
    -fx-padding: 8px 8px 8px 8px;
    -fx-background-color: rgba(126, 202, 230, 0.77);
}
.botones-alta2:hover{
    -fx-background-color: #9a7afb;;
}

.optical{
    -fx-padding: 8px 6px 8px 6px;
    -fx-background-color: rgba(64, 251, 237, 0.72);
}
.optical:hover{
    -fx-background-color: #247f9c;;
}

.fondo_interf{
    -fx-background-color: rgba(255, 255, 255, 0);
}

.scroll-pane{
    -fx-background-color: rgba(255, 255, 255, 0);
}

.scroll-pane .viewport{
    -fx-background-color: rgba(255, 255, 255, 0);
}

.optical2{
    -fx-font-size: 10;
    -fx-padding: 6px 6px 6px 6px;
    -fx-background-color: rgba(235, 241, 63, 0.72);
}
.optical2:hover{
    -fx-background-color: #9c8c24;;
}

.botones-media{
    -fx-padding: 10px 15px 10px 15px;
    -fx-background-color: rgba(231, 87, 243, 0.78);
}
.botones-media:hover{
    -fx-background-color: #b85ced;;
}

.botones-baja{
    -fx-padding: 5px 40px 5px 40px;
    -fx-background-color: rgba(26, 200, 85, 0.82);
}
.botones-baja:hover{
    -fx-background-color: #83f49a;;
}

.botones-exit{
    -fx-padding: 5px 40px 5px 40px;
    -fx-background-color: rgba(200, 26, 26, 0.82);
}
.botones-exit:hover{
    -fx-background-color: #f48383;;
}

.botones-oden{
    -fx-padding: 5px 10px 5px 10px;
    -fx-background-color: rgba(177, 26, 200, 0.82);
}
.botones-oden:hover{
    -fx-background-color: #d883f4;;
}



.text-orden{
    -fx-text-fill: white;
    -fx-font-size: 9px;
}
